<h4 class="text-center">Registre-se e mostre seu pet ao mundo!</h4>

<form class="form mt-4" [formGroup]="novoUsuarioForm" (submit)="cadastrar()">
  <div class="form-group">
    <input placeholder="e-mail" class="form-control" formControlName="email">

    <app-mensagem
      mensagem="Email obrigatório"
      *ngIf="novoUsuarioForm.get('email')?.errors?.['required'] &&
      novoUsuarioForm.get('email')?.touched">
    </app-mensagem>
    <app-mensagem
      mensagem="Email no formato incorreto"
      *ngIf="novoUsuarioForm.get('email')?.errors?.['email'] &&
      novoUsuarioForm.get('email')?.touched">
    </app-mensagem>
  </div>

  <div class="form-group">
    <input placeholder="Nome Completo" class="form-control" formControlName="fullName">
  </div>

  <app-mensagem
    mensagem="Nome incorreto"
    *ngIf="novoUsuarioForm.get('fullName')?.errors &&
    novoUsuarioForm.get('fullName')?.touched">
  </app-mensagem>

  <div class="form-group">
    <input type="text" placeholder="Uruário" name="usuario" class="form-control"
    formControlName="userName">
  </div>

  <app-mensagem mensagem="Usuário deve ser em letras minúsculas"
    *ngIf="novoUsuarioForm.get('userName')?.errors?.['minusculo'] &&
    novoUsuarioForm.get('userName')?.touched">
  </app-mensagem>
  <app-mensagem
    mensagem="Usuário já existe"
    *ngIf="novoUsuarioForm.get('userName')?.errors?.['usuarioExiste']">
  </app-mensagem>

  <div class="form-group">
    <input type="password" placeholder="Senha" name="password" class="form-control"
    formControlName="password">
  </div>

  <app-mensagem
    mensagem="Senha deve ser diferente do usuario"
    *ngIf="novoUsuarioForm.errors?.['usuarioIgualSenha']">
  </app-mensagem>

  <button class="btn btn-primary btn-block">Cadastrar</button>
</form>

<p>Possui conta? Clique em <a [routerLink]="['']">logar</a></p>
